$main-color: #4f4f4f;
$text-color: #4f4f4f;
$medium-grey: #c4c4c4;
$light-grey: #f5f5f5;

h1,
h2,
h3,
h4 {
	font-family: 'Catamaran', sans-serif;
	font-weight: 200;
	margin-bottom: 0;
}

h1 {
	font-size: 32px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
	text-transform: uppercase;
}

.white {
	color: #fff;
}

p.inner-header {
	font-family: 'Open-sans', sans-serif;
	font-size: 22px;
	font-weight: 700;
}

body {
	font-family: 'Open-sans', sans-serif;
	font-size: 14px;
	line-height: 1.8;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
}

.navbar {
	background-color: $main-color;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-brand {
	margin: auto;
	display: block;
	text-align: center;
	max-width: 300px;
}

.navbar-brand img {
	max-width: 250px;
}

.logo-m3 img {
	margin: auto;
	display: block;
	text-align: center;
}

.logo-m3 img {
	width: 150px;
}

.mt-l {
	margin-top: 50px;
}

.mt-m {
	margin-top: 25px;
}

.mt-g {
	margin-top: calc(var(--mdb-gutter-x));
}

.pt-l {
	padding-top: 100px;
}

.pt-m {
	padding-top: 50px;
}

.pb-l {
	padding-bottom: 100px;
}

.pb-m {
	padding-bottom: 25px;
}

.hero {
	width: 100%;
}

.hero-image {
	width: 100%;
	height: 40vh;
	background-image: url('../img/Rezedowa-residence-Podlesie.jpg');
	background-color: #4f4f4f;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.main-info {
	margin-top: -50px;
}

.title {
	margin: auto;
	// margin-top: -50px;
	max-width: 400px;
}

.title-top {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 140px;
	background-color: $light-grey;
}

.desc {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: $medium-grey;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
}

.person,
.phone {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
}

.phone {
	font-weight: 700;
}

.main-desc-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: 150px;
}

.image-box img {
	width: 100%;
}

.image-box-small img {
	width: 60%;
}

.icon-with-title {
	display: flex;
	align-items: center;
}

.circle-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: $light-grey;
}
.circle-icon img {
	height: 50px;
	width: 50px;
}

.icon-title {
	margin-left: 15px;
}

.area-2 {
	background-color: $light-grey;
}

.area-3 {
	background-color: #fff;
}

.area-box {
	background-color: #fff;
}

footer {
	background-color: $main-color;
	padding: 20px;

	.phone {
		background-color: transparent;
	}
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	background-color: $main-color;
	color: #fff;
	border-radius: 0px;
}

.btn:hover {
	color: #fff;
}

.download {
	text-align: center;
}

.carousel-inner {
	max-height: 749px;
}

// gallery
.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
}

.gallery-container {
	padding-right: 7px;
	padding-left: 7px;
}


.gallery img {
	transition: 0.5s;
	cursor: pointer;
	max-width: 100%;
	padding:5px;
}
.gallery img:hover {
	transform: scale(1.1);
}

#lightbox {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0, 0.6);
	display: none;
}
#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

.big-img {
	max-width: 800px;
}

.mobile-none {
	display: none;
}

.lightbox-container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	top: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0, 0.6);
	opacity: 0;
	pointer-events: none;
}

.lightbox-container.active {
	opacity: 1;
	pointer-events: all;
}

.lightbox-image-wrapper {
	position: relative;
	max-width: 100%;
}
.lightbox-image-wrapper img {
	max-width: 100%;
}

.lightbox-btn {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	background: transparent;
	border: none;
	font-size: 30px;
	width: 60px;
	color: #fff;
	opacity: 0.5;
	text-shadow: 0 0 10px #000;
  }

.lightbox-btn:hover {
	opacity: 0.8;
  }

.btn-left {
	left: 10px;
	transition: 0.2s;
}
.btn-left:hover {
	left: 1px;
}

.btn-right {
	right: 10px;
	transition: 0.2s;
}
.btn-right:hover {
	right: 1px;
}



// Small devices (landscape phones, 576px and up)

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.main-desc-bg {
		height: 200px;
	}

	.area-img {
		padding: 50px;
	}
	body {
		font-size: 16px;
	}

	.navbar-brand {
		margin: 0;
		display: block;
		text-align: left;
	}

	.logo-m3 img {
		margin: 0;
		display: block;
		text-align: left;
	}
	.hero-image {
		height: 70vh;
	}
	.main-desc {
		padding: 50px;
	}
	.main-info {
		margin-top: -80px;
	}
	.mt-l {
		margin-top: 100px;
	}
	.mt-m {
		margin-top: 50px;
	}

	.download {
		text-align: left;
	}

	.lightbox-btn {
		width: 90px;
		font-size: 40px;
	  }

	  .gallery {
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	}
	
	.mobile-none {
		display: block;
	}
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
	.hero-image {
		height: 70vh;
		background-position: 0px -20vh;
	}

	.desc {
		font-size: 16px;
	}
}

@media (min-width: 1800px) {
	.hero-image {
		height: 70vh;
		background-position: 0px -30vh;
	}
}
